<!-- this is a view from MVC that makes use of groupconversation controller-->
<!-- this is used to render groupconversations and the like-->

<div class="gchatboxhead">
  <div class="gchatboxtitle">
    <i class="fa fa-comments"></i>
   <% if @recievers.length ==2 %>
     <h1><%=@recievers[0].name + " and " + @recievers[1].name %></h1>
    <% else %>
      <h1> <%=@recievers[0].name + " and  #{@recievers.length-1} more" %> </h1>
    <% end %>
  </div>
  <div class="gchatboxoptions">
    <input type="file" id="fileLoader" name="files" title="Load File" style = "display:none;" />
    <%= link_to "<i class='fa fa-paperclip'></i> ".html_safe, "#", class: "guploadfile", "data-cid" => @gconversation.id,  "data-sid" => @post.url, "data-form" => @post.fields.to_json,"data-pa" => groupconversation_path(@gconversation)%>
    &nbsp;&nbsp;
     <%= link_to "<i class='fa fa-users'></i> ".html_safe, "#", class: "gaddusertoChatBox", "data-cid" => @gconversation.id %>
    &nbsp;&nbsp;
    <%= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "gtoggleChatBox", "data-cid" => @gconversation.id %>
    &nbsp;&nbsp;
    <%= link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "gcloseChat", "data-cid" => @gconversation.id %>
  </div>
</div>

<div class="chatboxcontent">
  <% if @gmessages.any? %>
      <%= render @gmessages %>
  <% end %>
</div>
<div class="chatboxinput">
  <%= form_for([@gconversation, @gmessage], :remote => true, :html => { id: "groupconversation_form_#{@gconversation.id}"}) do |f| %>
      <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @gconversation.id %>
  <% end %>
</div>


<!--this subscribe to is used so that we can see and view messages sent allong this conversation path -->
<%= subscribe_to groupconversation_path(@gconversation) %>